

@import url("https://fonts.googleapis.com/css2?family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
:root{
    --primary-color: #C1D7CA;
    --secondary-color: #EBBAB9;
    --dark-color: #18251B;
    --header-font: "Sansita", sans-serif;
    --p-font: "Lato", Arial;
    --hover-color: #197BBD;
}
html {
    width: 100%;
}
body {
    font-family: var(--p-font);
    font-size: 1em;
    background-color: var(--primary-color);
    color: var(--dark-color);
}
h1 {
    /* display: grid; */
    /* grid-template-columns: 2fr; */
    font-family: var(--header-font);
    font-size: 3em;
    font-weight: normal;
    text-align: center;
    margin: 0;
    margin-top: 30px;
    margin-bottom: 30px;
}
.skiptocontent{  /* .skiptocontent is hidden by setting position: absolute and moving it off-screen (top: -1000px; left: -1000px;). */
    position: absolute;
    top: -1000px;
    left: -1000px;
}
.skiptocontent a:focus { /*When the link is focused (e.g., via keyboard navigation), the CSS rule .skiptocontent a:focus brings it back into view by setting position: static and resetting top and left values. */
    position: static;
    top: 0;
    left: 0;
    background-color: #ffff;
    color: #000;
    padding: 10px;
    z-index: 1000;  /*Adding padding, background color, and a high z-index ensures the link is visually noticeable and accessible when it’s focused. */
}
.header-container {
    display: grid;
    border: 1px solid gray;
    background-color: var(--dark-color);
    /* justify-self: end; */
    grid-template-columns: 1fr auto;
    align-items: center;
    padding: 10px;
}
.main-nav {
    list-style: none;
    display: flex;
    justify-self: end;
    gap: 8px;
    padding: 0;
    margin: 0;
}
.main-nav li {
    margin-right: 20px;
}
.main-nav a {
    text-decoration: none;
    font-size: .7em;
    color: var(--secondary-color);
}
.about {
    text-decoration: none;
    margin-right: 20px;
    font-size: 1em;
    color:#EBBAB9;
}
.archive {
    text-decoration: none;
    margin-right: 20px;
    font-size: 1em;
    color:#EBBAB9;
}
.search {
    text-decoration: none;
    margin-right: 20px;
    font-size: 1em;
    color:#EBBAB9;
}
.mainContainer {
    display: grid;
    grid-template-columns: 1fr, 1fr;
    gap: 20px;
    font-size: .7rem;
    padding: 10px;
}
.column-1 {
    display: grid;
    grid-row: auto;
    gap: 20px;
    padding: 10px;
}
.column-2{
    display: grid;
    grid-row: auto;
    gap: 20px;
    padding: 10px;
}
.textContainer {
    display: grid;
    grid-column: 1/2;
    gap: 20px;
    font-size: 1rem;
    padding: 10px;
    padding-top: 25px;
    text-align: right;
    border-right: 1px solid gray;
}
.gridContainer {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 20px;
    width: 100%;
}
.bookContainer{
    display: grid;
    grid-column: 2/3;
    gap: 20px;
    font-size: .7rem;
    padding: 10px;
    /* margin-bottom: 20px; */
    /* border-left: 1px solid gray;
    margin-bottom: 10px;
    padding-right: 10px; */

}
.bookContainer p {
    font-size: 1rem;
}
.book {
    grid-column: 2/3;
}
h2 {
    font-size: 1.5rem;
    font-weight: normal;
}
img {
    height: 300px;
    display: block;
    margin: 0 auto;
}
.dropdownContainer {
    display: grid;
    grid-column: 3/4;
    gap: 20px;
    font-size: .9rem;
    padding: 30px;
    padding-right: 50px;
}
.dropdown {
    grid-column: 3/4;
    border: 1px solid gray;
    padding: 10px;
    justify-content: end;
    margin-right: 25px;
    width: 100%;
}
ul {
    /* display: grid;
    grid-column: 1/2; */
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.dropdown li {
    display: grid;
    grid-template-columns: 70px 1fr;
    align-items: center;
    margin: 10px 0;
}
select {
    padding: 5px;
    font-size: .7em;
    width: 80px;
    padding-left: 20px;
}
label {
    text-align: right;
    padding: 5px;
}









/* @import url("https://fonts.googleapis.com/css2?family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

:root{
    --primary-color: #C1D7CA;
    --secondary-color: #EBBAB9;
    --dark-color: #18251B;
    --header-font: "Sansita", sans-serif;
    --p-font: "Lato", Arial;
    --hover-color: #197BBD;
}
html {
    width: 100%;

}
body {
    font-family: var(--p-font);
    font-size: 1em;
    background-color: var(--primary-color);
    color: var(--dark-color);
}
h1 {
    /* display: grid; 
    /* grid-template-columns: 2fr; 
    font-family: var(--header-font);
    font-size: 3em;
    font-weight: normal;
    text-align: center;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 30px;
}
.skiptocontent{.skiptocontent is hidden by setting position: absolute and moving it off-screen (top: -1000px; left: -1000px;). 
    position: absolute;
    top: -1000px;
    left: -1000px;
}
.skiptocontent a:focus { When the link is focused (e.g., via keyboard navigation), the CSS rule .skiptocontent a:focus brings it back into view by setting position: static and resetting top and left values. 
    position: static;
    top: 0;
    left: 0;
    background-color: #ffff;
    color: #000;
    padding: 10px;
    z-index: 1000;  Adding padding, background color, and a high z-index ensures the link is visually noticeable and accessible when it’s focused. 
}
.header-container {
    display: grid;
    border: 1px solid gray;
    background-color: var(--dark-color);
    justify-self: end;
    grid-template-columns: 1fr auto;
    align-items: center;
    padding: 10px;
    max-width: 100%;
    margin: 0 auto;
}
.main-nav {
    list-style: none;
    display: flex;
    justify-self: end;
    gap: 8px;
    padding: 0;
    margin: 0;
}
.main-nav li {
    margin-right: 20px;
}
.main-nav a {
    text-decoration: none;
    font-size: .8em;
    color: var(--secondary-color);
}
.about {
    text-decoration: none;
    margin-right: 20px;
    font-size: 1em;
    color:#EBBAB9;
}
.archive {
    text-decoration: none;
    margin-right: 20px;
    font-size: 1em;
    color:#EBBAB9;
}
.search {
    text-decoration: none;
    margin-right: 20px;
    font-size: 1em;
    color:#EBBAB9;
}
.main-grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(1fr, 100);
    gap: 20px;
    align-items: start;
    width: 100%;
    padding: 20px;
}
.info-container {
    padding: 10px;
     display: grid !important; 
    grid-row: 1/2;
}
.container {
    display: grid !important;
    grid-template-rows: repeat(1fr, 100);
    gap: 10px;
    font-size: .7em;
    padding: 10px;
    padding-top: 40px;
    align-items: start;
}
img {
    max-width: 80%;
    height: 180px;
}
.book img {
    display: grid;
    margin: 0 auto;
    max-width: 50%;
    height: auto;
}
.book h3, .book p {
    text-align: left;
}
.book {
    display: grid;
    grid-column: 2/3;
    place-items: center;
    text-align: left;
}
article {
    padding: 20px;
}
.text {
    grid-column: 1/2;
    /* grid-row: 1/100; 
    text-align: right;
    border-right: 1px solid gray;
    padding: 5px;
    padding-right: 25px;
    padding-left: 90px;
    font-size: 1em;
}
.dropdown {
    display: grid !important;
    grid-column: 3/4 !important;
    grid-row: 1/100;
    border: 1px solid gray;
    padding: 10px;
    justify-content: end;
    margin-right: 20px;
    max-width: 25%;

}
nav.dropdown {
    display: grid !important;
     grid-template-columns: 1fr 2fr 1fr; 
    grid-column: 3/4; 
    gap: 20px; 
}
.dropdown ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.dropdown li {
    display: grid;
    grid-template-columns: 50px 100px;
    align-items: center;
    margin: 10px 0;
}
select {
    padding: 5px;
    font-size: .7em;
    width: 100px;
}
label {
    text-align: right;
    padding: 5px;
}
#age label {
    margin-right: 10px;
} */