

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: "Roboto", Arial;
}

header, main, footer {
    max-width: 640px;
    align-items: center;
    margin: 1rem auto;
    border: 1px solid black;
    padding: 15px;
    background-color: #899fae;   
}
header {
    background-color: black;
    color: white;
}
main {
    /* grid-template-columns: 1rem auto 1rem; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 10px;
}
section {
    padding: 20px;
    background-color: white;
}
section.mosiah {
    padding-top: 56px;
    padding-bottom: 55px;
}
/* section.ether {
    padding-top: 25px;
    padding-bottom: 25px;
} */
@media (min-width: 500px) {   
}