

@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");
:root {
    --primary-color: #52489c;
    --secondary-color: #59c3c3;
    --accent-color: #f45b69;
    --text-dark: #333;
    --primary-font: Arial, Helvetica, sans-serif;
    --secondary-font: "Mooli", sans-serif;
}
html {
    width: 100%;
}
body {
    font-family: var(--primary-font);
    font-size: 1.2em;
    background-color: #ebe7ee;
    color: var(--text-dark);
}
.gallery img {
    display: grid;
    max-width: 100%;
    width: 250px;
    height: 250px;
    object-fit: cover;
    border: 4px solid white;
    box-shadow: 5px 5px 5px #3d3c44;
    margin-left: auto;
    margin-right: auto;
}
.gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}
h1 {
    font-family: var(--secondary-font);
    display: flex;
    justify-content: center;
    font-weight: lighter;
}
h2 {
    font-family: var(--secondary-font);
    text-align: center;
    font-size: 1em;
}
header {
    background-color: var(--primary-color);
    /* display: flex; */
    color: white;
    text-align: center;
    padding: 25px;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header a {
    color: white;
}
#menuButton {
    background-color: var(--primary-color);
    outline: none;
    border: none;
    color: white;
    font-size: 40px;
    cursor: pointer;
}
.hide {
    display: none;
}
nav {
    /* display: flex; */
    justify-content: center;
    padding: 30px;
}
nav ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}
/* nav ul.menuList li a {
    text-align: center;
    font-size: 30px;
    padding: 25px;
    color: white;
} */
#dropdown {
    list-style: none; /*removes bullets from list*/
    text-align: center;
    padding: 0;
    color: white;
}
main {
    background-color: var(--text-light);
}
/* #dropdown.show {
    display: block;
} */
/* #dropdown li {
    padding: 5px;
    font-size: 30px
} */
 /* .close-viewer {

 } */
 /* div.viewer {
    display: grid;
    position: fixed;
    top:0;
    bottom:0;
    right:0;
    left:0;
    background-color: rgba(0, 0, 0, 0.75);
    /* grid-template-rows: 1fr, 1fr; */
    color: white;
    align-self: center;
    /* justify-self: center; */
    padding: 20px;
    /* max-height: 100%; */
    max-width: 100%;
    z-index: 10;
}
.close-viewer {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px;
    cursor: pointer; */
}
/* .img {
    grid-row: 2;
    grid-column: 1 / span 2;
    align-self: center;
    justify-self: center;
} */
footer {
    background-color: var(--primary-color);
    color: white;
    padding-left: 10%;
    text-align: left;
    font-size: 1em;
}
@media screen and (min-width: 500px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }
    /* nav ul {
        text-align: center;
        padding: 20px;
        margin: 0;
    } */
    #dropdown {
        text-align: center;
    }
    /* .modal {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.75);
        justify-content: center;
        align-items: center;
        display: flex;
        grid-template-columns: 1fr; 
        flex-direction: column;
        z-index: 9999;
        padding: 60px;
        padding-top: 50px;
        cursor: pointer;
        width: 80%;
        height: 80%;
        overflow: auto;
    }
    .close-viewer {
        background-color: rgba(0, 0, 0, 0.75);
        margin: 25% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
    }
    .close {
        float: right;
        font-size: 28px;
    }
    .close:hover, .close:focus {
        color:#59c3c3;
        text-decoration: none;
        cursor: pointer;
    }
    .modal.show {
        display: flex;
    } */
    .view-img {
        max-height: 100%;
        width: 100%;
        object-fit: contain;
    }
}
@media (min-width: 501px) and (max-width: 900px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }
    .viewer {
        max-height: 100%;
    }
}
@media screen and (min-width: 901px) {
    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }
    #dropdown {
        display: flex;
        /* justify-content: space-around; */
        width: 100%;
        gap: 20px;
    }
    #dropdown li {
        /* display: inline; */
        padding: 0;
    }
    #menuButton {
        display: none;
    }
}
@media screen and (min-width: 900px) and (orientation: landscape) {
    .gallery {
        grid-template-columns: repeat(3, 1fr);
        padding-left: 200px;
        padding-right: 200px;
    }
}